$indigo: #fd84fc ;
$white: #ffffff;
$dark: #080e10;
$green: #fd84fc ;
$gradient:linear-gradient(135deg, #fd84fc, #f6a0ff);;
$gradient2: linear-gradient(135deg, #fd84fc, #f6a0ff);

.green {
  color: $green;
}
.indigo {
  color: $indigo;
}
