$indigo: #ffde59;
$white: #ffffff;
$dark: #080e10;
$green: #f2ae1c;
$gradient: linear-gradient(203deg, #f2ae1c 0%, #c77e0f 100%);
$gradient2: linear-gradient(203deg, #ffde59 0%, #c9a408 100%);

.green {
  color: $green;
}
.indigo {
  color: $indigo;
}
